<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">


    <br><br><br>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Listes des members</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr class="table-primary">
                <th>Member ID</th>
                <th>Mmeber Name</th>
                <th>Member email</th>
                <th>pole</th>
                <th>classe</th>
                <th>birthday</th>
                <th>numberPhone</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
         
            <tbody>
              <tr *ngFor="let member of members">
                <td>{{member.id}}</td>
                <td>{{member.name}}</td>
                <td>{{member.email}}</td>
                <td>{{member.pole}}</td>
                <td>{{member.classe}}</td>
                <td>{{member.birthday | date: 'dd/MM/yyyy'}}</td>
                <td>{{member.numberPhone}}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-primary mx-2" (click)="editMember(member)">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="deleteMember(member.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>


          <br>
          <br>
          <br>
          <h2>{{action}} Member</h2>

    <form #memberForm="ngForm" (ngSubmit)="onSubmit()" class="border p-3 my-3">
      <input type="hidden" [(ngModel)]="selectedMember.id" name="id">
    
      <div class="form-group mb-3">
        <label>Member Name</label>
        <input type="text" [(ngModel)]="selectedMember.name" name="name" required class="form-control">
      </div>
      <div class="form-group mb-3">
        <label>Member email</label>
        <input type="text" [(ngModel)]="selectedMember.email" name="email" required class="form-control">
      </div>
    
      <div class="form-group mb-3">
        <label>pole</label>
        <input type="text" [(ngModel)]="selectedMember.pole" name="pole" required class="form-control">
      </div>
    
      <div class="form-group mb-3">
        <label>classe</label>
        <input type="text" [(ngModel)]="selectedMember.classe" name="classe" required class="form-control">
      </div>
    
      <div class="form-group mb-3">
        <label>birthday</label>
        <input type="date" [(ngModel)]="selectedMember.birthday" name="birthday" required class="form-control">
      </div>
    
      <div class="form-group mb-3">
        <label>numberPhone</label>
        <input type="text" [(ngModel)]="selectedMember.numberPhone" name="numberPhone" required class="form-control">
      </div>
      <button type="submit" class="btn btn-success">{{action}}</button>
      <button type="button" class="btn btn-danger mx-2" (click)="cancel()">Cancel</button>
    </form>
        </div>
      </div>
    </div>
  </div>  
</div>